*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
}
header > h3{
    text-align: center;
    margin-top: 10px;
}
.first{
    background-color: red;
    width: 100%;
}
.second{
    background-color: green;
    width: 100%;

}
.third{
    background-color: blue;
    width: 100%;

}
@media (min-width: 992px) {
    .container{
        display: flex;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        position: relative;
        width: 100%;
    }
    .first{
        background-color: red;
        margin: 10px;
        width: 50%;   
    }
    .second{
        background-color: green;
        margin: 10px;   
        width: 50%;   
    }
    .third{
        background-color: blue;
        margin: 10px;
        width: 100%;
        position: absolute;
        top: 270px;
        left: -5px;
    }  
}
@media (max-width: 767px) {
    .container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .first{
        margin: 10px;
  
    }
    .second{
        margin: 10px;
  
    }
    .third{
        margin: 10px;
    }  
    
}